@media screen and (max-width: 800px) {

    .nav__list,
    .nav__btn {
        display: none;
    }


    .nav__burger {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 40px;
        right: 40px;

        z-index: 10;
    }

    .menuOpen {
        display: flex;
    }

    .nav__list {
        gap: 0;
        flex-direction: column;
        width: 100%;

        margin-top: 58px;
    }

    .menu--border {
        border-top: 1px solid gray;
    }

    .nav__list_link {
        padding: 30px 0;
        border-bottom: 1px solid gray;
        width: 100%;
    }

    .btnOpen {
        display: block;
    }

    .header__nav {
        padding: 25px 23px;
        width: 100vw;
        border-radius: 0 0 12px 12px;

        backdrop-filter: blur(10px);
        background-color: rgba(128, 128, 128, 0.038);
    }

    .navOpen {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        top: 0;
        right: 0;

        z-index: 10;
        backdrop-filter: blur(50px);
        background-color: rgba(206, 206, 206, 0.595);
    }

    .nav__btn {
        margin-top: 50px;
    }

    .header {
        padding: 0;
    }

    .actions__theme{
        position: fixed;
        top: 33px;
        right: 70px;
    }

}

@media screen and (max-width: 600px) {

    .actions__theme{
        font-size: 12px;
        font-weight: 300;
        width: 100px;
        top: 25px;
    }

}