
@media screen and (max-width: 800px) {

    .connect__text, .connect__btn{
        width: 100%;
    }

    .connect__title{
        font-size: 36px;
    }

    .end__list{
        flex-direction: column;
    }
    
}

@media screen and (max-width: 600px) {
    .footer{
        padding: 0 8px;
    }

    .end__rights{
        letter-spacing: 0;
    }

    .end__info_title{
        font-size: 12px;
    }

    .end__img{
        margin-right: 10px;
    }
}